In [6]:
import pandas as pd 

teclado = {}
teclado["Freq"] = [697, 770, 852, 941]
teclado[1209] = ["1", "4", "7", "X"]
teclado[1336] = ["2", "5", "8", "0"]
teclado[1477] = ["3", "6", "9", "#"]
teclado[1633] = ["A", "B", "C", "D"]
tabela_teclado = pd.DataFrame(teclado).set_index("Freq")

tabela_teclado

     1209 1336 1477 1633
Freq
697     1    2    3    A
770     4    5    6    B
852     7    8    9    C
941     X    0    #    D